<ion-header class="ion-no-border">
  <!-- menu -->
  <!-- Navigation Bar - Top -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="apps"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-item lines="none" slot="end">
      <ion-label>
        <p>Hello</p>
        <h3>{{authService.getDisplayName()}}</h3>
      </ion-label>
      <ion-avatar slot="end">
        <img [src]="authService.getProfilePic()" alt="profile picture">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let log of logbook">
    <!-- Card name -->
    <ion-card-header>
      <ion-card-title>{{log.name}}</ion-card-title>
    </ion-card-header>

    <!-- All info in chips -->
    <ion-card-content>
      <ion-chip color="success">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>{{log.date}}</ion-label>
      </ion-chip>

      <ion-chip color="tertiary">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>{{log.time}}</ion-label>
      </ion-chip>

      <ion-chip color="primary">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>{{log.food}}</ion-label>
      </ion-chip>

      <ion-chip color="secondary">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
        <ion-label>{{log.amount}}g</ion-label>
      </ion-chip>

      <ion-chip color="warning">
        <ion-icon name="scale-outline"></ion-icon>
        <ion-label>{{log.weight}}g</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <!-- Fab to navigato to a new window to add a log -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" [routerLink]="['/create-logbook']">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
