<ion-header class="ion-no-border">
  <!-- menu -->
  <!-- Navigation Bar - Top -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="apps"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-item lines="none" slot="end">
      <ion-label>
        <p>Hello</p>
        <h3>{{authService.getDisplayName()}}</h3>
      </ion-label>
      <ion-avatar slot="end">
        <img [src]="authService.getProfilePic()" alt="profile picture">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-stretch">
  <div class="ion-padding">
    <ion-grid>
      <!-- Google Login -->
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="authService.signInWithGoogle()" fill="outline" shape="round">
            <ion-icon slot="start" name="cloud-download"></ion-icon>
            Dierenwelzijn Vlaanderen
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
