<ion-header class="ion-no-border">
  <!-- menu -->
  <!-- Navigation Bar - Top -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="apps"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-item lines="none" slot="end">
      <ion-label>
        <p>Hello</p>
        <h3>{{authService.getDisplayName()}}</h3>
      </ion-label>
      <ion-avatar slot="end">
        <img [src]="authService.getProfilePic()" alt="profile picture">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="achievement">
    <ion-item>
      <ion-label position="stacked">Name: {{achievement.birdName}}</ion-label>
      <ion-input [(ngModel)]="updatedBirdName"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="stacked">Date: {{achievement.date}}</ion-label>
      <ion-input [(ngModel)]="updatedDate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Time: {{achievement.time}}</ion-label>
      <ion-input [(ngModel)]="updatedTime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Prey: {{achievement.prey}}</ion-label>
      <ion-input [(ngModel)]="updatedPrey"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Amount: {{achievement.amount}}</ion-label>
      <ion-input [(ngModel)]="updatedAmount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Comment: {{achievement.comment}}</ion-label>
      <ion-input [(ngModel)]="updatedComment"></ion-input>
    </ion-item>

    <ion-button expand="block" fill="outline" shape="round" (click)="updateAchiev()" [routerLink]="['/logbook']">
      Update
    </ion-button>
  </div>
</ion-content>
