h1 {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #3a7be0
}

#subtitle {
  // top, right, bottom, left
  margin: 10px 0 50px 0;
  color: #7b7b7b;
}

#error{
  font-size: 0.8rem;
  margin: 1px 0 1px 0;
  color: red;
}

div {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  margin-top: 10px;
}

ion-input {
  margin-left: 2px;
}
