<ion-content class="ion-align-items-stretch">
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Welcome Falconer!</h1>
          <p>Sign in to continue</p>
        </ion-col>
      </ion-row>

      <!-- Google Login -->
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="authService.signInWithGoogle()" fill="outline" shape="round">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Google
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Facebook Login -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" shape="round" (click)="authService.signInWithFacebook()">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- GitHub Login -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" shape="round" color="dark" (click)="authService.signInWithTwitter()">
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          Twitter
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Anonymous Login -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" shape="round" color="success" (click)="authService.signInAnonymously()">
          <ion-icon slot="start" name="person-circle"></ion-icon>
          Guest
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
