<ion-content class="ion-align-items-stretch">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome Falconer!</h1>
        <p>Sign in to continue</p>
      </ion-col>
    </ion-row>

    <!-- Google Login -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="authService.signInWithGoogle()" fill="outline" shape="round">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- GitHub Login -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" shape="round" color="dark" (click)="authService.signInWithGithub()">
          <ion-icon slot="start" name="logo-github"></ion-icon>
          Github
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

