<ion-header class="ion-no-border">
  <!-- menu -->
  <!-- Navigation Bar - Top -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="apps"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-item lines="none" slot="end">
      <ion-label>
        <p>Hello</p>
        <h3>{{authService.getDisplayName()}}</h3>
      </ion-label>
      <ion-avatar slot="end">
        <img [src]="authService.getProfilePic()" alt="profile picture">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="newName"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="stacked">Date</ion-label>
      <ion-input [(ngModel)]="newDate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Time</ion-label>
      <ion-input [(ngModel)]="newTime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Weight</ion-label>
      <ion-input [(ngModel)]="newWeight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Food</ion-label>
      <ion-input [(ngModel)]="newFood"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <ion-input [(ngModel)]="newAmount"></ion-input>
    </ion-item>

    <ion-button expand="block" fill="outline" shape="round" (click)="createLogbook()" [routerLink]="['/logbook']">
        Toevoegen
    </ion-button>
</ion-content>
